doctype html
html
  head
    title= `Looki Admin - ${title}`
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/admin/css/uikit.min.css')
    style.
      html {
        font-family: 'Open Sans', sans-serif;
      }
    //- link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    nav.uk-navbar-container(uk-navbar)
      .uk-navbar-left
        a.uk-navbar-item.uk-logo(href='/admin') Looki Admin
        ul.uk-navbar-nav
          li(class=(currentPath.startsWith('/admin/users') ? 'uk-active' : ''))
            a(href='/admin' ) Users
          li(class=(currentPath.startsWith('/admin/places') ? 'uk-active' : ''))
            a(href='/admin/places' ) Places
      .uk-navbar-right
        ul.uk-navbar-nav
          li
            a(href='./') Login

    .uk-container.uk-padding
      h1= title

    block messages
      if locals.flashes
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            div
              p!= message
              button(onClick="this.parentElement.remove()") &times;

    block content

  block scripts
    script(src='/admin/js/uikit.min.js')
    script(src='/admin/js/uikit-icons.min.js')